
<%= semantic_form_for @lore do |f| %>
  <div class="row">
    <div class="large-3 columns">
      &nbsp;
    </div>
    <div class="large-3 columns">
      &nbsp;
    </div>
    <div class="large-3 columns">
      <%= f.input :game, as: :select, collection: Acebook::Games.keys, :include_blank => false %>
    </div>
    <div class="large-3 columns">
      <%= f.input :kind, as: :select, collection: Lore::KINDS.keys, :include_blank => false %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :title %>
      <%= f.input :body, :input_html => { :rows => 8 }, :label => "BODY <span style='text-transform:lowercase;margin-left:10px;'>(auto-links enabled)</span>".html_safe %>
    </div>
  </div>
  <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "button tiny radius" } %>
    <% end %>
<% end %>