<% title "Acebook - Lore" %>
<div id="myModal" class="reveal-modal" data-reveal></div>
<H2><%= render :partial => "shared/add_content_button" %>Lore</h2>
<dl class="accordion" data-accordion>
  <% @lores.each_with_index do |tl,i| -%>
  <dd class="accordion-navigation">
    <a href="#panel_<%= i %>">
      <span style="width:24px;display:inline-block;text-align:center;margin-right:5px;">
        <%= image_tag "content/#{tl.kind}_24.png", :align => "center" %>
      </span>
      <span class="minibullit"><%= tl.game %></span>
      &nbsp; &nbsp; &nbsp; <b><%= tl.title %></b>
    </a>
    <div id="panel_<%= i %>" class="content">
      <%= tl.body %>
      <div class="contentlegend">
        <%= tl.user.user_info.handle %>
        <% if current_user.is_admin? || tl.user_id == current_user.id -%>
          | <%= link_to "EDIT", "/lores/#{tl.id}/edit", 
                :class => "contenteditlink", :style => "background: white !important;", 
                "data-reveal-id" => "myModal", "data-reveal-ajax" => "true" %>
        <% end -%>
      </div>
    </div>
  </dd>
  <% end -%>
</dl>