<h2 class="pagetitle">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
             html: { method: :put, class: 'max-w-md space-y-4' }, data: { 'turbo' => "false", 'turbo-frame' => '_top'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-input' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input' %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-input' %>
     <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn-primary' %>
  </div>
<% end %>

<h3 class="mt-8 font-bold uppercase text-stone-500">I'm too big a dweeb to be listed on this site so ...</h3>

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-secondary-small' %></p>

<%= link_to "Back", :back, class: 'btn-secondary-small' if false %>
