<div style="border-top: 1px dotted #ccc;padding-top: 5px;">
<%= form_tag "/comments", :method => :post, :style => "margin: 0px !important; padding 0px !important; height: 45px;" %>
<%= hidden_field_tag "comment[commentable_id]", item_id %>
<%= hidden_field_tag "comment[commentable_type]", item_type %>
<%= text_field_tag "comment[body]", "", :style => "width:800px; float:left;margin-right: 10px;", :placeholder => "Enter Comment" %>
<%= submit_tag "Save Comment", :class => "tiny button radius"  %>
</form>
</div>