<div style="border-top: 1px dotted #ccc;padding-top: 5px; height: 215px;" class="block p-2">
<%= form_tag "/comments", :method => :post, :style => "margin: 0px !important; padding 0px !important; height: 45px;" %>
<%= hidden_field_tag "comment[commentable_id]", item_id %>
<%= hidden_field_tag "comment[commentable_type]", item_type %>
<%= text_area_tag "comment[body]", "", class: "form-textarea block", style: "height: 150px !important;", :placeholder => "Add Comment ...", :rows => 4 %>
<%= submit_tag "Save Comment", :class => "btn-secondary-small mt-4"  %>
</form>
</div>
