<div style='float:right;'>
  <%= link_to image_tag("social/social-home.png", :class => ''), 
      add_http(socials.homepage_url), :class => "", :target => "_blank" unless socials.homepage_url.blank? %>
  <%= link_to image_tag("social/social-twitter.png", :class => ''), 
      add_http(socials.twitter_url), :class => "", :target => "_blank" unless socials.twitter_url.blank? %>
  <%= link_to image_tag("social/social-facebook.png", :class => ''), 
      add_http(socials.facebook_url), :class => "", :target => "_blank"  unless socials.facebook_url.blank? %>
  <%= link_to image_tag("social/social-google_plus.png", :class => ''), 
      add_http(socials.googleplus_url), :class => "", :target => "_blank"  unless socials.googleplus_url.blank? %>
  <%= link_to image_tag("social/social-wordpress.png", :class => ''), 
      add_http(socials.wordpress_url), :class => "", :target => "_blank"  unless socials.wordpress_url.blank? %>
</div>