<div class="border text-stone-600 border-stone-200 bg-stone-100 shadow hover:bg-stone-200 p-4 rounded-md">
  <a href="/show/<%= voaw_tile.user_id %>" class="" >
    <%= image_tag "/assets/medal.svg", class: "float-right w-5 h-5" if voaw_tile.user.rip? %>
    <div style="border-bottom: 1px dotted #ccc; margin-bottom: 5px; padding-bottom: 5px; line-height: 1rem;">
        <%= image_tag "/assets/icons/#{voaw_tile.get_icon}.gif", :class => 'rostericon' %>
        <span class='text-lg font-bold align-middle legend-font tracking-wide text-stone-800'><%= voaw_tile.handle %></span>
      <br>
      <span class="text-sm"><%= voaw_tile.squadron %>&nbsp;</span>
    </div>
    <div class="text-xs font-mono">
      <% ids = [] -%>    
      <% ids << "AW:#{voaw_tile.aw_cpid}" unless voaw_tile.aw_cpid.blank? -%>
      <% ids << "WB:#{voaw_tile.wb_cpid}" unless voaw_tile.wb_cpid.blank? -%>
      <% ids << "AH:#{voaw_tile.ah_cpid}" unless voaw_tile.ah_cpid.blank? -%>
      <%= ids.join(" / ").html_safe %>
    </div>
  </a>
</div>


<% if false -%>
  <% if @current_user -%>
  <td nowrap>
    <%= render :partial => "social_icons", :locals => { :socials => voaw_tile.user.social_info } %>
    <%= voaw_tile.name %>
    <br>
    <span class="smallertext"><%= truncate(voaw_tile.row_addr, length: 30)  %></span>
  </td>
  <% end -%>
  <td><%= voaw_tile.aw_cpid %></td>
  <td><%= voaw_tile.wb_cpid %></td>
  <td><%= voaw_tile.ah_cpid %></td>
  <td><%= voaw_tile.year_started %></td>
<% end -%>
