<div class="roster_tile_outer">
  <div class="roster_tile_inner">
    <div style="border-bottom: 1px dotted #ccc; margin-bottom: 4px; padding-bottom: 4px;">
      <a href="/show/<%= voaw_tile.user_id %>" data-reveal-id="myModal" data-reveal-ajax="true">
        <%= image_tag "icons/#{voaw_tile.get_icon}.gif", :class => 'miniicon' %><b><%= voaw_tile.handle %></b>
      </a>
      <br>
      <span class="smallertext"><%= voaw_tile.squadron %>&nbsp;</span>
    </div>
    <div class="smallertext monotype">
      <% ids = [] -%>    
      <% ids << "AW:#{voaw_tile.aw_cpid}" unless voaw_tile.aw_cpid.blank? -%>
      <% ids << "WB:#{voaw_tile.wb_cpid}" unless voaw_tile.wb_cpid.blank? -%>
      <% ids << "AH:#{voaw_tile.ah_cpid}" unless voaw_tile.ah_cpid.blank? -%>
      &nbsp;<%= ids.join(" / ").html_safe %>
    </div>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal></div>

<script type="text/javascript">
$('.datatable').dataTable({
  "paging": false,
    "info": false
  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>


<% if false -%>
  <% if @current_user -%>
  <td nowrap>
    <%= render :partial => "social_icons", :locals => { :socials => voaw_tile.user.social_info } %>
    <%= voaw_tile.name %>
    <br>
    <span class="smallertext"><%= truncate(voaw_tile.row_addr, length: 30)  %></span>
  </td>
  <% end -%>
  <td><%= voaw_tile.aw_cpid %></td>
  <td><%= voaw_tile.wb_cpid %></td>
  <td><%= voaw_tile.ah_cpid %></td>
  <td><%= voaw_tile.year_started %></td>
  <% end -%>
