<!--tr>
  <td nowrap>
    <a href="/show/<%= voaw_row.user_id %>">
      <%= image_tag "/assets/icons/#{voaw_row.get_icon}.gif", :class => 'miniicon' %><b><%= voaw_row.handle %></b></a>
      <br>
      <span class="smallertext"><%= voaw_row.squadron %></span>
    </td>
  <% if @current_user -%>
  <td nowrap>
    <%= render :partial => "social_icons", :locals => { :socials => voaw_row.user.social_info } %>
    <%= voaw_row.name %>
    <br>
    <span class="smallertext"><%= truncate(voaw_row.row_addr, length: 30)  %></span>
  </td>
  <% end -%>
  <td><%= voaw_row.aw_cpid %></td>
  <td><%= voaw_row.wb_cpid %></td>
  <td><%= voaw_row.ah_cpid %></td>
  <td><%= voaw_row.year_started %></td>
</tr -->

<tr>
  <td class="whitespace-nowrap text-base">
    <a href="/show/<%= voaw_row.user_id %>" class="hover:bg-stone-200 pl-1 group leading-10 w-full inline-block rounded-md">
      <%= user_icon voaw_row, 'miniicon' %>
      <div class='align-middle ml-1 inline-block underline text-gray-500 group-hover:text-black'>
        <%= voaw_row.handle %>
        <%= image_tag "medal.svg", class: "inline-block ml-1 w-5 h-5" if voaw_row.user.rip? %>
      </div>
    </a>
  </td>
  <td><%= voaw_row.squadron %></td>
  <td class="medium-plus font-mono"><%= voaw_row.aw_cpid %></td>
  <td class="medium-plus font-mono"><%= voaw_row.wb_cpid %></td>
  <td class="medium-plus font-mono"><%= voaw_row.ah_cpid %></td>
  <% if current_user && false -%>
  <td class="large-plus"><%= truncate(voaw_row.row_addr, length: 30)  %></td>
  <td class="large-plus">
    <%= render :partial => "social_icons", :locals => { :socials => voaw_row.user.social_info } %>
  </td>
  <% end %>
  <td class="medium-plus"><%= voaw_row.year_started %></td>
</tr>

