<tr>
  <td><%= voaw_row.handle %></td>
  <td><%= voaw_row.squadron %></td>
  <td><%= voaw_row.name %></td>
  <td><%= voaw_row.city %></td>
  <td><%= voaw_row.aw_cpid %></td>
  <td><%= voaw_row.wb_cpid %></td>
  <td><%= voaw_row.ah_cpid %></td>
  <td>Details</td>
</tr>