<tr>
  <td nowrap>
    <a href="/show/<%= voaw_row.user_id %>" data-reveal-id="myModal" data-reveal-ajax="true">
      <%= image_tag "icons/#{voaw_row.get_icon}.gif", :class => 'miniicon' %>
      <b><%= voaw_row.handle %></b>
    </a></td>
  <td nowrap><%= voaw_row.squadron %></td>
  <td nowrap><%= voaw_row.name %></td>
  <td><%= voaw_row.city %></td>
  <td><%= voaw_row.aw_cpid %></td>
  <td><%= voaw_row.wb_cpid %></td>
  <td><%= voaw_row.ah_cpid %></td>
  <td><%= voaw_row.year_started %></td>
</tr>