<% set_title "Acebook - Edit Profile" %>
<h4>Pilot Profile</h4>

<%= form_tag("/profile") do %>
  <div class="row">
    <div class="large-6 columns">
      <div><%= label_tag "Handle" %><%= text_field_tag :handle, @pilot.handle, :name => "pilot[handle]" %></div>
      <div><%= label_tag "Name" %><%= text_field_tag :name, @pilot.name, :name => "pilot[name]" %></div>
      <div><%= label_tag "Squadron" %>
        <%= text_field_tag :squadron, @pilot.squadron, :name => "pilot[squadron]", :style => "width:48%;float:left;" %>
        <%= select_tag :known_squads, options_for_select(UserInfo::active_squads, @pilot.squadron.to_s), :style => "width:48%;float:right;",
        :onchange => "$('#squadron').val(this.value);" %>
      </div>
      <div><%= label_tag "City" %><%= text_field_tag :city, @pilot.city, :name => "pilot[city]" %></div>
      <div><%= label_tag "State/Province" %><%= text_field_tag :state, @pilot.state, :name => "pilot[state]", :style => "width:48%;float:left;" %></div>
      <div>
        <%= country_select("pilot", "country", priority_countries: ["US", "CA", "GB", "FR", "DE"]) %>
      </div>
      <div><%= label_tag "Other Handles" %><%= text_field_tag :other_handles, @pilot.other_handles, :name => "pilot[other_handles]" %></div>
    </div>
    <div class="large-3 columns" style="background: #eee; padding: 10px;">
      <div><%= label_tag "Air Warrior ID" %><%= text_field_tag :aw_cpid, @pilot.aw_cpid, :name => "pilot[aw_cpid]", :placeholder => "16-char max" %></div>
      <div><%= label_tag "WarBirds ID" %><%= text_field_tag :wb_cpid, @pilot.wb_cpid, :name => "pilot[wb_cpid]", :placeholder => "16-char max" %></div>
      <div><%= label_tag "Aces High ID" %><%= text_field_tag :ah_cpid, @pilot.ah_cpid, :name => "pilot[ah_cpid]", :placeholder => "16-char max" %></div>
      <div><%= label_tag "Planes" %><%= text_field_tag :planes, @pilot.planes, :name => "pilot[planes]" %></div>
      <div><%= label_tag "Icon" %><%= select_tag :icon, options_for_select(Acebook::Icons, @pilot.icon), :name => "pilot[icon]" %></div>
    </div>
    <div class="large-3 columns" style="background: #eee; padding: 10px;">
      <div><%= label_tag "Air Warrior Country" %>
        <%= select_tag :aw_country, options_for_select(Acebook::Games['aw'][:countries], @pilot.aw_country), :name => "pilot[aw_country]" %></div>
      <div><%= label_tag "WarBirds Country" %>
        <%= select_tag :wb_country, options_for_select(Acebook::Games['wb'][:countries], @pilot.wb_country), :name => "pilot[wb_country]" %></div>
      <div><%= label_tag "Aces High Country" %>
        <%= select_tag :ah_country, options_for_select(Acebook::Games['ah'][:countries], @pilot.ah_country), :name => "pilot[ah_country]" %></div>    
      <div><%= label_tag "Start Year" %>
        <%= select_year(@pilot.year_started, start_year: 1985, end_year: Date.today.year) %></div>
     </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div><%= label_tag "Bio/Blurb" %><%= text_area_tag 'message', @pilot.message, :name => "pilot[message]", :rows => 15 %></div>
    </div>
  </div>

<h4>Social Links</h4>

  <div class="row">
    <div class="large-4 columns">
      <%= render :partial => "social", :locals => { :label => "Homepage", :field_name => "homepage_url"} %>
      <%= render :partial => "social", :locals => { :label => "Twitter", :field_name => "twitter_url"} %>
      <%= render :partial => "social", :locals => { :label => "Facebook", :field_name => "facebook_url"} %>
      <%= render :partial => "social", :locals => { :label => "MySpace", :field_name => "myspace_url"} %>
      <%= render :partial => "social", :locals => { :label => "Google+", :field_name => "googleplus_url"} %>
      <%= render :partial => "social", :locals => { :label => "LinkedIn", :field_name => "linkedin_url"} %>
    </div>
    <div class="large-4 columns">
      <%= render :partial => "social", :locals => { :label => "WordPress", :field_name => "wordpress_url"} %>
      <%= render :partial => "social", :locals => { :label => "Blogger", :field_name => "blogger_url"} %>
      <%= render :partial => "social", :locals => { :label => "Tumblr", :field_name => "tumblr_url"} %>
      <%= render :partial => "social", :locals => { :label => "Medium", :field_name => "medium_url"} %>
      <%= render :partial => "social", :locals => { :label => "Steam", :field_name => "steam_url"} %>
      <%= render :partial => "social", :locals => { :label => "Github", :field_name => "github_url"} %>
    </div>
    <div class="large-4 columns">
      <%= render :partial => "social", :locals => { :label => "Flickr", :field_name => "flickr_url"} %>
      <%= render :partial => "social", :locals => { :label => "Instagram", :field_name => "instagram_url"} %>
      <%= render :partial => "social", :locals => { :label => "Pinterest", :field_name => "pinterest_url"} %>
      <%= render :partial => "social", :locals => { :label => "deviantArt", :field_name => "deviantart_url"} %>
      <%= render :partial => "social", :locals => { :label => "Vimeo", :field_name => "vimeo_url"} %>
      <%= render :partial => "social", :locals => { :label => "YouTube", :field_name => "youtube_url"} %>
    </div>
  </div>

  <%= button_tag "Submit", class: 'button' %>

<% end -%>
