<% if @pilot.nil? -%>
<h3>Pilot not found!</h3>
<% else -%>

<div style="float:right;"><%= @pilot.user_info.year_started %></div>
<h3><%= @pilot.user_info.handle %> <%= @pilot.user_info.squadron %></h3>
<p><b><%= @pilot.user_info.name %></b>&nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= @pilot.user_info.city %>, <%= @pilot.user_info.state %>, <%= @pilot.user_info.country %></p>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px;">
  <div class="row">
    <div class="large-4 columns"><% unless @pilot.user_info.aw_cpid.blank? %>
      <b>Air Warrior:</b> <%= @pilot.user_info.aw_cpid -%>
        <%= " <span class='gcountry'>(#{@pilot.user_info.aw_country})</span>".html_safe if @pilot.user_info.aw_country -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.wb_cpid.blank? %>
      <b>WarBirds:</b> <%= @pilot.user_info.wb_cpid-%>
        <%= " <span class='gcountry'>(#{@pilot.user_info.wb_country})</span>".html_safe if @pilot.user_info.aw_country -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.ah_cpid.blank? %>
      <b>Aces High:</b> <%= @pilot.user_info.ah_cpid -%>
        <%= " <span class='gcountry'>(#{@pilot.user_info.ah_country})</span>".html_safe if @pilot.user_info.aw_country -%>
    <% end -%></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; line-height: 1.5em;">
  <div class="row">
    <div class="large-6 columns"><b>Aircraft:</b> <%= @pilot.user_info.planes %></div>
    <div class="large-6 columns"><b>Aliases:</b> <%= @pilot.user_info.other_handles %></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px;">
  <div class="row"><div class="large-12 columns">
    <%= @pilot.user_info.message %>
  </div></div>
</div>

<div style="line-height:12px; border-top: 1px solid #ccc; padding-top: 10px;">
    <div class="row"><div class="large-12 columns">
<% @pilot.social_info.attributes.reject{ |x,y| !x.include? "_url"  }.each_pair do |k,v| %>
<%= link_to k.gsub("_url", ""), v, :class => "tiny radius button socialbtn", :target => "_blank" unless v.blank? %>
<% end -%>
  </div></div>
</div>

<% end -%>