<% if @pilot.nil? -%>
<h3>Pilot not found!</h3>
<% else -%>
<div class="profilewrapper">
  <div class="row">

<div class="large-10 columns">
<h3><%= @pilot.user_info.handle %></h3>
<% if @pilot.user_info.squadron %><h5><%= @pilot.user_info.squadron %><h5><% end -%>
<p><b><%= @pilot.user_info.name %></b>
  <% if @pilot.user_info.city %>
  &nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= [@pilot.user_info.city, @pilot.user_info.state, @pilot.user_info.country].reject{ |x| x.blank? }.join(", ") %></p>
  <% end %>
</div>
<div class="large-2 columns" style="text-align:right;">
  <%= @pilot.user_info.year_started %><br>
  <%= image_tag "icons/#{@pilot.user_info.get_icon}.gif", :class => 'proficon' %>
</div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; line-height:14px;">
  <div class="row">
    <div class="large-4 columns"><% unless @pilot.user_info.aw_cpid.blank? %>
      <b>Air Warrior:</b> <%= @pilot.user_info.aw_cpid -%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.aw_country})</span>".html_safe if !@pilot.user_info.aw_country.blank? -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.wb_cpid.blank? %>
      <b>WarBirds:</b> <%= @pilot.user_info.wb_cpid-%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.wb_country})</span>".html_safe if !@pilot.user_info.wb_country.blank? -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.ah_cpid.blank? %>
      <b>Aces High:</b> <%= @pilot.user_info.ah_cpid -%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.ah_country})</span>".html_safe if !@pilot.user_info.ah_country.blank? -%>
    <% end -%></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; line-height: 1.5em;">
  <div class="row">
    <div class="large-6 columns"><b>Aircraft:</b> <%= @pilot.user_info.planes %></div>
    <div class="large-6 columns"><b>Aliases:</b> <%= @pilot.user_info.other_handles %></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px;">
  <div class="row"><div class="large-12 columns">
    <%= auto_html(@pilot.user_info.message) { simple_format; link(:target => 'blank') } %>
  </div></div>
</div>

<div style="line-height:12px; border-top: 1px solid #ccc; padding-top: 10px;">
    <div class="row"><div class="large-12 columns">
<% @pilot.social_info.attributes.reject{ |x,y| !x.include? "_url"  }.each_pair do |k,v| %>
<%= link_to k.gsub("_url", ""), v, :class => "tiny radius button socialbtn", :target => "_blank" unless v.blank? %>
<% end -%>
  </div></div>
</div>

</div>

<% end -%>