<% if @pilot.nil? -%>
<h3>Pilot not found!</h3>
<% else -%>

<div class="text-stone-500 border border-stone-200 bg-stone-50 overflow-hidden rounded-lg max-w-2xl mx-auto">

  <div class="px-4 py-5 sm:px-6 text-center space-y-1">
    <%= image_tag "icons/#{@pilot.user_info.get_icon}.gif",
        :class => 'inline-block w-24 h-24 rounded-full ring-8 ring-stone-200 p-1 bg-white my-4 border border-stone-300 shadow-inner' %>
    <h3 class="text-2xl leading-6 font-medium text-gray-900 font-serif align-middle">
      <span class=' align-middle'><%= @pilot.user_info.handle %></span>
      <%= image_tag "/assets/medal.svg", class: "inline-block w-5 h-5 align-middle" if @pilot.rip? %>
    </h3>
    <% if @pilot.user_info.squadron %>
      <h3 class="text-lg leading-6 font-medium text-gray-900"><%= @pilot.user_info.squadron %></h3>
    <% end %>
    <% if @current_user -%>
    <p class="mt-1 max-w-2xl text-sm text-gray-500 space-x-2">
      <b><%= @pilot.user_info.name %></b>
      <% if @pilot.user_info.city %>
      <span>&bull;</span>
      <span><%= [@pilot.user_info.city, @pilot.user_info.state, @pilot.user_info.country].reject{ |x| x.blank? }.join(", ") %></span>
      <% end -%>
    </p>
    <% end %>
  </div>
  <div class="border-t border-stone-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-stone-200">

      <% if @pilot.user_info.year_started %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">First Flight</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @pilot.user_info.year_started %></dd>
      </div>
      <% end %>

      <% unless @pilot.user_info.planes.blank? %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Aircraft</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> <%= @pilot.user_info.planes %></dd>
      </div>
      <% end %>

      <% unless @pilot.user_info.other_handles.blank? %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Aliases</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @pilot.user_info.other_handles %></dd>
      </div>
      <% end %>

      <% unless @pilot.user_info.aw_cpid.blank? %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Air Warrior</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class='font-mono'><%= @pilot.user_info.aw_cpid -%></span>
          <%= " <span class='gcountry'>(#{@pilot.user_info.aw_country})</span>".html_safe unless @pilot.user_info.aw_country.blank? -%>
        </dd>
      </div>
      <% end %>

      <% unless @pilot.user_info.wb_cpid.blank? %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">WarBirds</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class='font-mono'><%= @pilot.user_info.wb_cpid -%></span>
          <%= " <span class='gcountry'>(#{@pilot.user_info.wb_country})</span>".html_safe unless @pilot.user_info.wb_country.blank? -%>
        </dd>
      </div>
      <% end %>

      <% unless @pilot.user_info.ah_cpid.blank? %>
      <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Aces High</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class='font-mono'><%= @pilot.user_info.ah_cpid -%></span>
          <%= " <span class='gcountry'>(#{@pilot.user_info.ah_country})</span>".html_safe unless @pilot.user_info.ah_country.blank? -%>
        </dd>
      </div>
      <% end %>

      <% if @current_user %>
      <% unless @pilot.user_info.message.blank? %>
      <div class="py-2 sm:py-3 sm:px-6 prose">
        <p><%= Rinku.auto_link(@pilot.user_info.message).html_safe %></p>
      </div>
      <% end %>

      <div class="py-2 sm:py-3 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 sm:px-6">
        <% @pilot.social_info.attributes.reject{ |x,y| !x.include? "_url"  }.each_pair do |k,v| %>
          <% unless v.blank? %><%= link_to add_http(v), :class => "underline hover:text-black", :target => "_blank" do %>
            <%= k.gsub("_url", "") %>
            <%= heroicon 'external-link', variant: 'solid', options: { class: 'w-4 h-4 inline' } unless v.blank? %>
          <% end %><% end %>
        <% end -%>
      </div>

      <% end %>

    </dl>

    <% if @pilot.rip? %>
    <div class="sm:px-6 pb-4 flex align-middle">
      <%= image_tag "salute.svg", class: "w-6 h-6 inline-block mt-0.5 mr-1 opacity-75" %>
      <%= button_to "<S>", "#", class: "inline-block text-xs border py-0.5 px-1 rounded-md bg-gray-600 text-white hover:bg-cyan-600" %>
    </div>
    <% end %>

  </div>

</div>


<% if false %>

<div class="profilewrapper card">
  <div class="row">

<div class="large-10 columns">
<h3><%= @pilot.user_info.handle %></h3>
<% if @pilot.user_info.squadron %><h5><%= @pilot.user_info.squadron %><h5><% end -%>
<% if @current_user -%>
<p><b><%= @pilot.user_info.name %></b>
  <% if @pilot.user_info.city %>
  &nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= [@pilot.user_info.city, @pilot.user_info.state, @pilot.user_info.country].reject{ |x| x.blank? }.join(", ") %>
</p>
<% end -%>
  <% end %>
</div>
<div class="large-2 columns" style="text-align:right;">
  <%= @pilot.user_info.year_started %><br>
  <%= image_tag "/assets/icons/#{@pilot.user_info.get_icon}.gif", :class => 'proficon' %>
</div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; line-height:14px;">
  <div class="row">
    <div class="large-4 columns"><% unless @pilot.user_info.aw_cpid.blank? %>
      <b>Air Warrior:</b> <%= @pilot.user_info.aw_cpid -%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.aw_country})</span>".html_safe if !@pilot.user_info.aw_country.blank? -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.wb_cpid.blank? %>
      <b>WarBirds:</b> <%= @pilot.user_info.wb_cpid-%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.wb_country})</span>".html_safe if !@pilot.user_info.wb_country.blank? -%>
    <% end -%></div>
    <div class="large-4 columns"><% unless @pilot.user_info.ah_cpid.blank? %>
      <b>Aces High:</b> <%= @pilot.user_info.ah_cpid -%><br />
        <%= " <span class='gcountry'>(#{@pilot.user_info.ah_country})</span>".html_safe if !@pilot.user_info.ah_country.blank? -%>
    <% end -%></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; line-height: 1.5em;">
  <div class="row">
    <div class="large-6 columns"><b>Aircraft:</b> <%= @pilot.user_info.planes %></div>
    <div class="large-6 columns"><b>Aliases:</b> <%= @pilot.user_info.other_handles %></div>
  </div>
</div>

<div style="border-top: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px;">
  <div class="row"><div class="large-12 columns">
    <%= Rinku.auto_link(@pilot.user_info.message).html_safe %>
  </div></div>
</div>

<div style="line-height:12px; border-top: 1px solid #ccc; padding-top: 10px;">
  <div class="row">
    <div class="large-12 columns">
      <% @pilot.social_info.attributes.reject{ |x,y| !x.include? "_url"  }.each_pair do |k,v| %>
        <%= link_to k.gsub("_url", ""), add_http(v), :class => "tiny radius button socialbtn", :target => "_blank" unless v.blank? %>
      <% end -%>
    </div>
  </div>
</div>

</div>

<% end -%>

<% end -%>