<h2>Statistics</h2>

<div class="row">
  <div class="large-4 columns">

    <table>
      <tbody>
        <tr>
          <td>Earliest Start</td>
          <td><%= @earliest.year_started %></td>
        </tr>
        <tr>
          <td>Latest Start</td>
          <td><%= @latest.year_started %></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="large-4 columns">

    <table>
      <tbody>
        <tr>
          <td>Air Warrior Players</td>
          <td><%= @awplayers %></td>
        </tr>
        <tr>
          <td>WarBirds Players</td>
          <td><%= @wbplayers %></td>
        </tr>
        <tr>
          <td>Aces High Players</td>
          <td><%= @ahplayers %></td>
        </tr>
        <tr>
          <td>Total Players</td>
          <td><%= @allplayers %></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="large-4 columns">

    <table>
      <tbody>
        <% @icons.each do |i| -%>
        <% unless i.blank? %>
        <tr>
          <td><%= image_tag "icons/#{i[0]}.gif", :class => 'miniicon' %></td>
          <td><%= i[0] %></td>
          <td><%= i[1] %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>