<% set_title "Acebook - Stats" %>
<h1 class="pagetitle text-center">Database Statistics</h1>

<div class="max-w-md mx-auto">
<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">

    <%== render partial: 'stat', locals: { title: 'Total Pilots', defin: @allplayers.to_s } %>
    <%== render partial: 'stat', locals: { title: 'Air Warrior Pilots', defin: @awplayers, row_css: 'uppercase' } %>
    <% @awcountries.each_pair do |k,v| -%>
      <%== render partial: 'stat', locals: { title: k, defin: v, title_css: 'pl-4' } %>
    <% end -%>

    <%== render partial: 'stat', locals: { title: 'WarBirds Pilots', defin: @wbplayers, row_css: 'uppercase' } %>
    <% @wbcountries.each_pair do |k,v| -%>
      <%== render partial: 'stat', locals: { title: k, defin: v, title_css: 'pl-4' } %>
    <% end -%>

    <%== render partial: 'stat', locals: { title: 'Aces High Pilots', defin: @ahplayers, row_css: 'uppercase' } %>
    <% @ahcountries.each_pair do |k,v| -%>
      <%== render partial: 'stat', locals: { title: k, defin: v, title_css: 'pl-4' } %>
    <% end -%>

    <%== render partial: 'stat', locals: { title: 'Icon Selections', defin: '', row_css: 'uppercase' } %>
    <% @icons.each do |i| -%>
      <% unless i[0].blank? %>
        <%== render partial: 'stat', locals: { title:  i[0], defin:  i[1], title_css: 'pl-4' } %>
      <% end %>
    <% end %>

    <%== render partial: 'stat', locals: { title: 'Earliest Start', defin: @earliest.year_started.to_s } %>
    <%== render partial: 'stat', locals: { title: 'Latest Start', defin: @latest.year_started.to_s } %>
    <%== render partial: 'stat', locals: { title: 'Average Start', defin: (@avg_start_years / @avg_start_players).to_s } %>

    <%== render partial: 'stat', locals: { title: 'Lore Items', defin: @num_lores.to_s } %>
    <%== render partial: 'stat', locals: { title: 'Link Items', defin: @num_links.to_s } %>
    <%== render partial: 'stat', locals: { title: 'Timeline Items', defin: @num_timelines.to_s } %>

  </dl>
</div>
</div>

<% if false %>





<div class="row">
  <div class="large-4 columns">

    <table>
      <tbody>
        <tr>
          <td>Earliest Start</td>
          <td><%= @earliest.year_started %></td>
        </tr>
        <tr>
          <td>Latest Start</td>
          <td><%= @latest.year_started %></td>
        </tr>
        <tr>
          <td>Average Start</td>
          <td><%= @avg_start_years / @avg_start_players %></td>
        </tr>
       <tr>
          <td>Total Pilots</td>
          <td><%= @allplayers %></td>
        </tr>
       <tr>
          <td>Timeline Items</td>
          <td><%= @num_timelines %></td>
        </tr>
       <tr>
          <td>Lore Items</td>
          <td><%= @num_lores %></td>
        </tr>
       <tr>
          <td>Link Items</td>
          <td><%= @num_links %></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="large-4 columns">

    <table>
      <tbody>
        <tr>
          <td><b>Air Warrior Pilots</b></td>
          <td><%= @awplayers %></td>
        </tr>
        <% @awcountries.each_pair do |k,v| -%>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= k %></td><td><%= v.to_i %></td>
        </tr>
        <% end -%>
        <tr>
          <td><b>WarBirds Pilots</b></td>
          <td><%= @wbplayers %></td>
        </tr>
        <% @wbcountries.each_pair do |k,v| -%>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= k %></td><td><%= v.to_i %></td>
        </tr>
        <% end -%>
        <tr>
          <td><b>Aces High Pilots</b></td>
          <td><%= @ahplayers %></td>
        </tr>
        <% @ahcountries.each_pair do |k,v| -%>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= k %></td><td><%= v.to_i %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>

  </div>
  <div class="large-4 columns">

    <table>
      <tbody>
        <% @icons.each do |i| -%>
        <% unless i[0].blank? %>
        <tr>
          <td><%= image_tag "/assets/icons/#{i[0]}.gif", :class => 'miniicon' %><b></td>
          <td><%= i[0] %></td>
          <td><%= i[1] %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<% end %>
