<% set_title "Acebook - Links" %>
<div id="myModal" class="reveal-modal" data-reveal></div>
<h1 class="pagetitle"><%= render :partial => "shared/add_content_button" %>Links</h1>

<table width="100%" id="linkstable" cellspacing="0">
  <% @links.each_with_index do |tl,i| -%>
  <tr><td>
    <a href="<%= add_http(tl.url) %>" target="_blank" style="font-size:18px;"><b><%= tl.title %></b></a>
    <p class="linkdesc"><%= tl.description %></p>
    <div class="contentlegend">
      <%= tl.user.user_info.handle %>
      <% if current_user && (current_user.is_admin? || tl.user_id == current_user.id) -%>
        | <%= link_to "EDIT", "/links/#{tl.id}/edit", 
              :class => "contenteditlink", :style => "background: white !important;", 
              "data-reveal-id" => "myModal", "data-reveal-ajax" => "true" %>
      <% end -%>
    </div>
  </td></tr>
  <% end -%>
</table>