<%= semantic_form_for @timeline do |f| %>
  <div class="row">
    <div class="large-3 columns">
      <%= f.input :month, as: :select, collection: Date::MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i + 1]}, :include_blank => false,
          :input_html => { class: "form-select" } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :year, as: :select, collection: (1985..Date.today.year).to_a, :include_blank => false,
          :input_html => { class: "form-select" } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :game, as: :select, collection: Acebook::Games.keys, :include_blank => false,
          :input_html => { class: "form-select" } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :kind, as: :select, collection: Timeline::KINDS.keys, :include_blank => false,
          :input_html => { class: "form-select" } %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :title, :input_html => { class: "form-input" } %>
      <%= f.input :body, :input_html => { :rows => 8, :class => "form-textarea" }, :label => "BODY <span style='text-transform:lowercase;margin-left:10px;'>(auto-links enabled)</span>".html_safe %>
    </div>
  </div>
  <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn-primary" } %>
    <% end %>
<% end %>