<% set_title "Acebook - Timeline" %>

<div id="myModal" class="reveal-modal" data-reveal></div>
<h1 class="pagetitle"><%= render :partial => "shared/add_content_button" %>Timeline</h1>
<ul class="accordion" data-accordion data-multi-expand="true" id="timelinelist"  data-allow-all-closed="true">
  <% @timelines.each_with_index do |tl,i| -%>
  <% komments = tl.comment_threads %>
  <li class="accordion-item" data-accordion-item>
    <a href="#panel_<%= i %>" class="accordion-title">
      <span style="width:24px;display:inline-block;text-align:center;margin-right:5px;">
        <%= image_tag "/assets/content/#{tl.kind}_24.png", :align => "center" %>
      </span>
      <span class="minibullit game_<%= tl.game %>"><%= tl.game %></span>
      <div class="timelinedate"><%= Date::MONTHNAMES[tl.month] %> <%= tl.year %></div>
      <b><%= tl.title %></b>
      <% if current_user && !komments.empty?-%>
      <span class="commentbullet">(<%= komments.length %>)</span>
      <% end -%>
    </a>
    <div id="panel_<%= i %>" class="accordion-content" data-tab-content>
      <%= Rinku.auto_link(tl.body.to_s) { simple_format; link(:target => 'blank') } %>

      <% if current_user -%>
        <div class="komments">
          <%= render :partial => "/comments/display_comment", :collection => komments unless komments.empty? %>
          <%= render :partial => "/comments/item_form", :locals => { :item_id => tl.id, :item_type => "Timeline" } %>
        </div>
      <% end -%>

      <div class="contentlegend">
        <%= tl.user.user_info.handle %>
        <% if current_user && (current_user.is_admin? || tl.user_id == current_user.id) -%>
          | <%= link_to "EDIT", "/timelines/#{tl.id}/edit", 
                :class => "contenteditlink", :style => "background: white !important;",
                "data-reveal-id" => "myModal", "data-reveal-ajax" => "true" %>
        <% end -%>
      </div>
    </div>
  </dd>
  <% end -%>
</dl>