<H2><%= render :partial => "shared/add_content_button" %>Timeline</h2>
<dl class="accordion" data-accordion>
  <% @timelines.each_with_index do |tl,i| -%>
  <dd class="accordion-navigation">
    <a href="#panel_<%= i %>">
      <span style="width:24px;display:inline-block;text-align:center;margin-right:5px;">
        <%= image_tag "content/#{tl.kind}_24.png", :align => "center" %>
      </span>
      <span class="minibullit"><%= tl.game %></span>
      <div class="timelinedate"><%= Date::MONTHNAMES[tl.month] %> <%= tl.year %></div>
      <b><%= tl.title %></b></a>
    <div id="panel_<%= i %>" class="content">
      <%= tl.body %>
      <div class="contentlegend">
        <%= tl.user.user_info.handle %>
        <% if tl.user.is_admin? || tl.user_id == current_user.id -%>
          | EDIT
        <% end -%>
      </div>
    </div>
  </dd>
  <% end -%>
</dl>