<header id="header" class='p-4 w-full'>
  <div class="flex">
    <div class="flex-none">
      <h1 id="title" class='text-cyan-600 text-4xl font-bold'>
        <%= link_to root_url, :id => "logo" do %>
          <%= image_tag("acebook.gif", :id => "logoimage", class: 'inline w-12 h-12 rounded-md align-middle') %>
          <span class='align-middle'>Acebook</span>
        <% end %>
      </h1>
    </div>
    <div class="grow">
      <div class="text-right text-cyan-600 space-x-2">
        <% if @current_user.nil? -%>
          <%= link_to "Login", "/users/sign_in" %>
          <span class='text-gray-800'>&bull;</span>
          <%= link_to "Signup", "/users/sign_up" %>
        <% else -%>
          <%= link_to @current_user.user_info.handle, "/profile" %>
          <span class='text-gray-800'>&bull;</span>
          <%= link_to "Account", "/users/edit" %>
          <span class='text-gray-800'>&bull;</span>
          <%= link_to "Esc-P", "/users/sign_out", :method => :delete%>
        <% end -%>
      </div>
      <p id="legend">An online directory for the lost tribes of Air Warrior, WarBirds, and Aces High.</p>
    </div>
  </div>
</header>