<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Headlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "applicationtw", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body class="h-full">

<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <%= render(Nav::NavbarComponent.new(current_user: current_user, active: @navbar_active)) if false %>

  <%= render(Nav::SubnavComponent.new(current_user: current_user, active: @subnav_active, menuset: @subnav_menuset)) if false %>

  <div class="py-4">

    <%== render(HeaderComponent.new(title: @header_title)) if false %>
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="px-4 py-4 sm:px-0">
          <div id="yield-wrapper">
            <%= yield %>
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>

    <%= render(FooterComponent.new()) if false %>

  </div>
</div>

  </body>
</html>
