<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Acebook -- An online directory for the lost tribes of Air Warrior, WarBirds, and Aces High</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- link href="https://fonts.googleapis.com/css2?family=Playfair+Display" rel="stylesheet" -->

    <!-- link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css' -->
    <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <!-- link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css' -->
    
  </head>


  <body class="h-full">

<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">

  <%== render(HeaderComponent.new(current_user: current_user)) %>

  <%= render(NavbarComponent.new(current_user: current_user, active: @navbar_active)) %>


  <div class="py-4">

    
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="px-4 py-4 sm:px-0">
          <div id="yield-wrapper">
            <%= yield %>
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>

    <%= render(FooterComponent.new(current_user: current_user)) %>

  </div>
</div>

  </body>
</html>
