<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Acebook" %></title>

    <%= favicon_link_tag '/favicon.ico' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>

  </head>

  <body>


    <%= gflash %>

    <% # http://foundation.zurb.com/docs/index.php -%>
    <div class="container">

      <div class="row header" style="border-bottom:1px solid #ddd;margin-bottom:10px;margin-top:10px;">
        <div class="large-6 columns" style="line-height:60px;">
          <h1 style="vertical-align:middle;" id="title"><%= link_to "<span id='logobtn'>&spades;</span> Acebook".html_safe, root_url, :id => "logo" %>
        </div>
        <div class="large-6 columns" style="text-align:right;">
          <%= render_cell :headerlinks, :show, :user => @current_user %>               
        </div>
      </div>

      <div class="row" id="yield">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>

      <div class="row footer">
        <div class="large-6 column slideleft ">
          <%= render_cell :footerlinks, :show, :user => @current_user %>        
        </div>
        <div class="large-6 column slideright ">
          <%= render_cell :copyright, :show %>        
        </div>
      </div>
    </div>

    <% flash.each do |name, msg|    -%>
      <%= js add_gritter(flash[name.to_sym], :title => "A Notice Has Been Recorded:")  %>
    <% end -%>

  </body>
</html>