<!DOCTYPE html>
<html>
  <head>
    <title>Thredded | <%= yield :thredded_page_title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'thredded_styles', 'data-turbolinks-track': 'reload'  %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload' %>
    <%= RailsGravatar.prefetch_dns_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

  <header id="header" style="max-width: 60rem; padding-bottom: 0.5rem; margin: 0 auto; font-family: sans-serif; border-bottom: 1rem solid #1f2937;">
  <table border="0" style="width: 100%;"><tbody><tr>
    <td style="vertical-align: middle;">
      <a href="/forum" id="thredded_logo_link">
        <%= image_tag("acebook.gif", :id => "logoimage", style: 'vertical-align: middle; border-radius: 4px; display: inline; width: 2rem; height: 2rem;') %>
        <span  style="vertical-align: middle;">Acebook Forum</span>
      </a>
    </td>
    <td style="text-align: right;">
      <%= link_to 'Return to Acebook', '/', id: 'return_button' %>
    </td>
  </tr></tbody></table>
</header>
  <div style="max-width: 960px; margin: 0 auto;">
    <%= yield %>
  </div>
  </body>
</html>
